body{
	padding: 15px;
	background-color: #011A27;
}

#title {
	font-family: 'Roboto';
	font-size: 64px;
	color:white;
}

#search {
	margin: 20px 80px;
	color:white;
}

#booklist {
	margin: 30px 20px 40px;
	color:white;
}

.table tbody td {
	vertical-align: middle;
	padding-right: 40px;
}

.table{
	color:white;
}

.form-control {
	width: auto;
}