{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>portofolio</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_sanwastore.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src="{% static 'js/portofolio.js' %}"></script>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  	<script src="//code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<body>

	<div class="container-fluid header text-center">
		<b id="judul" class="judul-portofolio">PORTOFOLIO</b>
	</div>


	<div class="container theme-mode-button text-center">
		<button id="button1" class="btn btn-secondary">
		Dark Mode</button>

	</div>

	<div id="box" class="container background-box">
		
		<div class="accordion-container">

  			<div class="set">
    			<a href="#">Aktivitas</a>
    
    			<div class="content">
      				<ul>
      					<li>- Kuliah</li>
      					<li>- Berbisnis</li>
      				</ul>
    			</div>
  			</div>
  

	  		<div class="set">
	    		<a href="#">Pengalaman Organisasi/Kepanitiaan</a>
	    		
	    		<div class="content">
	      			<ul>
      					<li>- Magang BEM media fasilkom</li>
      					<li>- Magang DPM wirus fasilkom</li>
      					<li>- PJ dokum angkatan</li>
      					<li>- Dokumentasi OH Fasilkom (Humas)</li>
      				</ul>
	    		</div>
			</div>
  

	  		<div class="set">
	    		<a href="#">Prestasi</a>

	    		<div class="content">
	      			<p>---</p>
	    		</div>
	  		</div>
  
		</div>
	</div>

	<div class="container-fluid footer text-center">
		<p id="text-ftr" class="text-footer centered">©️ 2019 PPW - Insanul Fahmi</p>
	</div>

</body>
</html>




