html {
    scroll-behavior: smooth;
}

body {
    background-color: #011A27;
    overflow-x: hidden; 
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    text-shadow: 4px 3px 3px #000000;
}

#jumbotron_top {
    padding-top : 30px;
    padding-bottom: 30px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 427px;
    background-position: center;
}

.row {
    border-radius: 20px 20px 20px 20px;
}

.judul {
    color : #8B8B8B;
    font-weight: 600;
    text-shadow: 4px 3px 3px #000000;

}

.images {
    max-width: 100%;
    border-radius: 20px 20px 20px 20px;
}

.navbar .navbar-nav > li > a {
    color: #FFFFFF !important;
    margin-right: 15px;
}

@media only screen and (max-width: 992px){

    .container {
        padding-left: 50px !important;
        padding-right: 50px !important; 
    }

    .box {
        height: auto !important;
    }

    .box_4 {
        height: auto !important;

    }

    .orange_box_left {
    width: 350px;
    height: 200px;
    display: inline-block;
    margin-top: -2%;
    padding: 0px 32px;
    }

    .image_3 {
    max-width: 70%;
    border-radius: 0%;
    margin-top: 0px !important;
    box-shadow: 3px 3px 15px #000000;
    display: inline-block;
    }

    .rectangle_2 {
    margin: 0 auto;
    width: auto !important;
    height: 50px;
    background-color: #F37F06;
    border-radius: 15px;
    color : #07354F;
    text-align: center;
    padding: 15px;
    display: inline-block;
    }

    h1 {
        font-size: 2em !important;
    }

    .background_orange_2 {
    padding: 12px;
    background: #FAA348;
    width: 100%;
    height: 250px;
    margin-top: -240px;
    padding-top: 10px !important;
    }

}

@media only screen and (max-width: 515px){
    .nama {
    text-align: center !important;
    font-size: 23px !important;
    color: #8B8B8B;
    font-family: Roboto;
    }

    .aktivitas {
    text-align: center !important;
    font-size: 11px !important;
    color: #8B8B8B;
    font-family: Roboto;
    }

    .image-insan-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    }

    .container {
        padding-left: 50px !important;
        padding-right: 50px !important; 
    }

    .box {
        height: auto !important;
    }

    .box_4 {
        height: auto !important;
    }

    .row_1 {
    background-color: #052435; 
    box-shadow: 5px 4px 10px #000000;
    }

    .orange_box_left {
    width: 350px;
    height: 200px;
    display: inline-block;
    margin-top: -2%;
    padding: 0px 32px;
    }

    .image_3 {
    max-width: 70%;
    border-radius: 0%;
    margin-top: 0px !important;
    box-shadow: 3px 3px 15px #000000;
    display: inline-block;
    }

    .rectangle_2 {
    margin: 0 auto;
    width: auto !important;
    height: 50px;
    background-color: #F37F06;
    border-radius: 15px;
    color : #07354F;
    text-align: center;
    padding: 15px;
    display: inline-block;
    }

    h1 {
        font-size: 2em !important;
    }

    .background_orange_2 {
    padding: 12px;
    background: #FAA348;
    width: 100%;
    height: 250px;
    margin-top: -240px;
    padding-top: 10px !important;
    }

}


/************************************-container 1-**************************************/

.container_1 {
    margin-top: -220px;
	padding-left: 100px;
	padding-right: 100px;
}

.row_1 {
    /*max-height: 400px;*/
    background-color: #052435; 
    box-shadow: 5px 4px 10px #000000;
}

.image-insan-1 {
    padding-left: 100px;
    padding-right: 100px;
}

.nama {
    font-size: 42px;
    color: #8B8B8B;
    font-family: Roboto;
}

.aktivitas {
    font-size: 20px;
    color: #8B8B8B;
    font-family: Roboto;
}

/************************************-container 2-**************************************/

.container_2 {
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.row_2 {
    background-color: #052435;
    box-shadow: 5px 4px 10px #000000;
}

.image-insan-2 {
    padding: 20px;
}

.isi-about {
    padding : 50px;
}

.paragraph_1 {
    color: #FFFFFF;
    text-align:justify;
    text-indent: 50px;
    letter-spacing: 0.15em;
    line-height: 2em;

}

/************************************-container 3-**************************************/

.container_3 {
    margin-top: 150px;
}

.rectangle_1 {
    margin: 0 auto;
    width: 100%;
    height: 75px;
    background: #052435;
    box-shadow: 5px 4px 10px #000000;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
}

.rectangle_2 {
    margin: 0 auto;
    width: 40%;
    height: 50px;
    background-color: #F37F06;
    border-radius: 15px;
    color : #07354F;
    text-align: center;
    padding: 15px;
    display: inline-block;
}

.circle {
    height: 71px;
    width: 71px;
    background-color: #F37F06;
    border-radius: 50%;
    display: inline-block;
    color : #07354F;
    
}

.sekolah {
    padding-top: 22%;
}

.line_vertical {
    border-left: 6px solid rgba(243, 127, 6, 0.5);
    margin-left: 49.5%;
  
}

.line-v-1 {
    top: 50%;
    height: 80px;
}

.line-v-2 {
    margin-top: -36px;
    height: 150px;
}

.box {
    width: 90%;
    height: 200px;
    background: #052435;
    box-shadow: 5px 4px 10px #7A4C16;
    border-radius: 20px;
    padding: 12px;
    padding-top: 7%;
    margin: 0 auto;
}

.box_1 {
    margin-top: -6%;

}

.box_4 {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-top: -4%;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.box-title {
    font-family: Roboto;
    font-style: normal;
    line-height: 157.69%;
    text-align: justify;
    letter-spacing: 0.09em;

}

.orange {
    color: #F37F06;
    font-weight: bold;
    font-size: 15px;
    text-align: center; 
}

.orenge-box-4 {
    text-align: center;
    font-size: 18px;
}

.grey {
    color: #8B8B8B;
    font-weight: bold;
    margin-top: -10px;
    font-size: 14px;
    text-align: center;
}

.white {
    color: #FFFFFF;
    font-weight: normal;
    margin-top: 0px;
    font-size: 13px;
    text-indent: 25px;
}

/************************************-container 4-**************************************/

.container_4 {
    margin-top: 400px;
    padding: 0px;
}

.image_3 {
    max-width: 70%;
    border-radius: 0%;
    margin-top:-200px;
    box-shadow: 3px 3px 15px #000000;
    display: inline-block;
}

.background_orange_1 {
    padding: 12px;
    background: #FAA348;
    width: 100%;
    height: 750px;
    margin-top: -700px;
}

.orange_box_left {
    width: 350px;
    height: 200px;
    display: inline-block;
    margin-top: -2%;
}

.orange_title_left {
    font-family: Roboto;
    font-style: normal;
    line-height: 157.69%;
    text-align: justify;
    letter-spacing: 0.09em;

    color: #000000;
    font-weight: normal;
    font-size: 13px;
    text-indent: 100px;
}

.image_4 {
    max-width: 11%;
    margin-top: -70px;
    margin-bottom: -20px;
    margin-left: -250px;
}

.judul_business {
    color : #8B8B8B;
    font-weight: 600;
    text-shadow: 4px 3px 3px #000000;
    margin-top: 45px;
    margin-bottom: -10px;
    margin-left: 41px;
}

.image_5 {
	width: 34px;
	height: 22px;
	border-radius: 0%;
    margin-left: -200px;
}

.image_6 {
	width: 33px;
	height: 33px;
	border-radius: 0%;
    margin-left: -200px;
	margin-top: 20px;
}

.image_7 {
	width: 33px;
	height: 33px;
	border-radius: 0%;
    margin-left: -200px;
	margin-top: 20px;
}

.list_sanwastore{
	text-shadow: 0px 0px 0px;
	margin-top: -147px;
	margin-left: 40px;
}

/************************************-container 5-**************************************/


.background_orange_2 {
    padding: 12px;
    background: #FAA348;
    width: 100%;
    height: 250px;
    margin-top: -240px;
}

.judul_contact {
    color : #8B8B8B;
    font-weight: 600;
    text-shadow: 4px 3px 3px #000000;
    margin-top: 200px;
    display: inline-block;
}

.title_contact {
    font-family: Roboto;
    font-style: normal;
    line-height: 170%;
    text-align: justify;
    color: #000000;
    font-weight: normal;
    font-size: 15px;
}

.button_contact {
    margin-left:100px;
    display: inline-block;
    margin: 0 auto;
}

.btn-text {
    color: #FFFFFF;
}

.btn-text:hover {
    color: orange;
    text-decoration: none;
}

/************************************-contact.html-**************************************/


.container_contact {
    margin-top: -220px;
    padding-left: 100px;
    padding-right: 100px;
}

.row_contact {
    max-height: 600px;
    background-color: #052435; 
    box-shadow: 5px 4px 10px #000000;
}

label {
    color: white;
}






