body {
  background-color: #FCF8ED;
}

ul {
  text-shadow: none;
  padding: 10px 15px;
  margin: 0;
  list-style-type: none;
}

li {
    font-size: 13px;
}

.header {
  background-color: #F18E68;
}

.footer {
  background-color: #F18E68;
  height: 70px;
  margin-top: 91px;
  color: black;
}

.text-footer {
  font-size: 13px;
}

.text-footer-darkmode {
    color: #4BA469;
}

.judul-portofolio{
  font-size: 300%;
  color: black;
}

.judul-portofolio-darkmode{
  font-size: 300%;
  color: #4BA469;
}

.background-box {
  border-radius: 25px;
  background-color: #C3DEDB;
  width: 100%;
  height: 450px;
  margin-top: 50px;
}

.theme-mode-button {
    margin-top: 50px;
}


.accordion-container{
  margin: auto;
  position: relative;
  top: 50%;
  -ms-transfrom: translateY(-50%);
  transform: translateY(-50%);

  position: relative;
  max-width: 500px;
  height: auto;
  margin: 10px auto;
}

.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}

.active {
  
}

.set > a.active{
  background-color:#3399cc;
  color: #fff;
}

.content{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}

.content p{
  padding: 10px 15px;
  margin: 0;
}

.centered {
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transfrom: translateY(-50%);
    transform: translateY(-50%);
}