{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>search_book</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/story8.js' %}"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

</head>
<body>

	<h1 id="title" style="font-color:white;" class="text-center">Search Book</h1>
	
	<div id="search"> 
		<div class="d-flex justify-content-center align-items-center">
			<div class="input-group mx-auto">
				<input type="text" id="input" class="form-control" placeholder="Book's Title">
 				<div class="input-group-append">
    				<button onclick="readInput()" style="font-color:white;" class="btn btn-outline-secondary">Search</button>
				</div>
			</div>
		</div>
	</div>

	<div id="booklist">
        <table class="table">
            <thead>
            	<tr>
	                <th style="font-color:white;" scope="col">Cover</th>
	                <th style="font-color:white;" scope="col">Title</th>
	                <th style="font-color:white;" scope="col">Author</th>
	            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</body>
</html>