{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>schedule</title>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insanul Fahmi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
</head>
<body>
	{%include "header.html"%}

	<div class="container montserrat_font">
        <h1 class="title_white" style="text-align: right; margin-top: 95px; color: white;">Add Schedule</h1>
        
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin: 40px 0px">
                <form action="{% url 'story_5:add_schedule' %}" method="POST">
                    {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-secondary" href="{% url 'story_5:schedule' %}">
                            Submit
                        </button>
                        <a class="btn btn-secondary" href="{% url 'story_5:schedule' %}">
                        	See my schedules
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>