{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>contact</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insanul Fahmi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</head>
<body>

	{%include "header.html"%}
	
	<div class="container container_contact">
        <div class="row row_contact">
            
        	<div class="col-lg-12">
        		<form action="" method="POST" enctype="multipart/form-data" id="form_id"> 
            		
            		<div class="form-group">
                 		<h5><label for="inputName">Name</label></h5>

                	<input type="text" name="career[name]" class="form-control" tabindex="1" placeholder="Enter your name" pattern="[a-zA-Z. ]{1,50}" required>
            		</div>
            
            		
            		<div class="form-group">
                		<h5><label for="inputEmail">Email</label></h5>

                	<input type="email" name="career[email]" class="form-control" tabindex="2" placeholder="Enter your email address" required>
            		</div>
            
            		
            		<div class="form-group">
                 		<h5><label for="inputMobile">Mobile</label></h5>

                	<input type="tel" name="career[mobile]" class="form-control" tabindex="3" placeholder="Enter your mobile number" pattern="[0-9]{10}" maxlength="10" required>
            		</div>
            
            		
            		<div class="form-group">
                 	<h5><label for="inputMessage">Message</label></h5>

                	<textarea name="career[message]" class="form-control" tabindex="4" placeholder="Write your details" required></textarea>
            
            		<div>
	            		<button type="button" name="submit" class="btn btn-primary btn-block" tabindex="5">
	            			<a href="{% url 'story_5:contact' %}" class="btn-text">submit</a>
	            		</button>
	            	</div>
        		</form>
    		</div>

        </div>
    </div>
</body>
</html>