{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>schedule</title>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insanul Fahmi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
</head>
<body>
	{%include "header.html"%}
    <div class="container montserrat_font">
    <h1 class="title_white" style="margin-top: 90px; color: white;">Schedule list</h1>
      
      <table id='mySchedule' class="table table-striped table-light" style="margin-top: 40px">
          <thead>
            <tr>
                <th scope="col">Kegiatan</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Hari</th>
                <th scope="col">Jam</th>
                <th scope="col">Tempat</th>
                <th scope="col">Kategori</th>
            </tr>
          </thead>
          
          <tbody>
            {% for schedule in table %}
            <tr>
              <th scope="row">{{ schedule.nama_kegiatan }}</th>
              <td>{{ schedule.tanggal }}</td>
              <td>{{ schedule.hari }}</td>
              <td>{{ schedule.jam }}</td>
              <td>{{ schedule.tempat }}</td>
              <td>{{ schedule.kategori }}</td>
              <td>
                <a class="btn btn-secondary" href="{% url 'story_5:deleteList' schedule.id %}">
                  delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      
      <div style="padding-bottom:200px">
        <a class="btn btn-info float-right" href="{% url 'story_5:add_schedule' %}">
          Add schedule
        </a>
      </div>
    </div>

</body>
</html>